<div class="container-fluid"> This application takes data for two of the best quarterbacks in the National Football League, Tom Brady
  and Matt Ryan and displays statistical data for each. I know what good quarterbacks look like because as a Browns fan, I've seen
  plenty of terrible ones.
  This project is:
  <ul>
    <li> is not for profit</li>
    <li> is a personal project</li>
    <li> all data is taken from a custom JSON file which contains publicly accessible information</li>
  </ul>
  <a href="https://github.com/hopscotchscooter/qb-statistics"><i class="fa fa-github-square fa-3x"></i></a>
</div>
